<template>
  <v-layout column justify-center>
    <v-flex>
      <v-text-field
              v-model="ally_name"
              box
              clearable
              label="Créer une Alliance"
              type="text"
            >
            <v-btn flat icon slot="append-outer" @click="createAlly(ally_name)"><v-icon>send</v-icon></v-btn>
            </v-text-field>
    </v-flex>
  </v-layout>
</template>

<script>
const storage = require('electron-storage')
export default {
  data () {
    return {
      ally_name: '',
      ally_list: ''
    }
  },
  methods: {
    createAlly: function (name) {
      this.ally_list[name] = {'webhook': {}}
      console.log(this.ally_list)
      storage.set('heart/ally.json', this.ally_list, (err) => {
        if (err) {
          console.error(err)
        }
      })
    }
  },
  mounted () {
    storage.get(`heart/ally.json`, (err, data) => {
      if (err) {
        console.log(err)
      } else {
        this.ally_list = data
      }
    })
  }
}
</script>
