<template>
  <v-layout column justify-center>
    <v-flex>
      <v-toolbar>
        <v-toolbar-title>Alliance séléctionnée: {{Object.keys(webhook_list)[ally]}}</v-toolbar-title>
        <v-tabs slot="extension" v-model="ally">
        <v-tab v-for="(item, value) in webhook_list" :key="value">
          {{value}}
        </v-tab>
      </v-tabs>
      </v-toolbar>
      <v-text-field
              v-model="webhook"
              box
              clearable
              label="Ajouter un webhook à Alliance"
              type="text"
            >
            <v-btn flat icon slot="append-outer" @click="addToAlly(webhook)"><v-icon>add</v-icon></v-btn>
            </v-text-field>
            <v-list>
              <v-list-group
                v-for="(value, item) in webhook_list[Object.keys(webhook_list)[ally]].webhook"
                :key="item.id"
                no-action
              >
                <v-list-tile slot="activator">
                  <v-list-tile-avatar>
                    <img :src="'https://cdn.discordapp.com/avatars/' + value.id + '/'+value.avatar+ '.jpg'">
                  </v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-title>{{ value.name }}</v-list-tile-title>
                </v-list-tile-content>
                <v-list-tile-action>
                <v-btn icon ripple @click="removeFromAlly(value.name)">
                  <v-icon color="grey lighten-1">remove</v-icon>
                </v-btn>
              </v-list-tile-action>
              </v-list-tile>
              <v-list-tile @click="openURL(value.invite)">
                <v-list-tile-avatar>
                  <v-icon>person_add</v-icon>
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-title>Lien Du Discord</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              </v-list-group>
            </v-list>
    </v-flex>
    <v-flex>
      <v-text-field
              v-model="message"
              box
              clearable
              label="Envoyer un message à l'Alliance"
              type="text"
            >
            <v-btn flat icon slot="append-outer" @click="messageToAlly(message)"><v-icon>send</v-icon></v-btn>
            </v-text-field>


       <!--<v-layout row wrap>
  
        <v-flex xs4>
            <v-text-field
            v-model="embed_name"
              label="Titre"
              counter
              maxlength="20"
            ></v-text-field>
          </v-flex>
  
          <v-flex xs8>
            <v-text-field
              v-model="embed_json"
              label="Embed"
            >
            <v-btn flat icon slot="append-outer" @click="embeds[embed_name] = embed_json"><v-icon>add</v-icon></v-btn>
            </v-text-field>
          </v-flex>
          <v-flex xs12>
            {{Object.keys(embeds).length}}
          </v-flex>
        </v-layout>-->
      </v-flex>
  </v-layout>
</template>

<script>
const axios = require('axios')
const storage = require('electron-storage')
export default {
  data () {
    return {
      ally: 0,
      webhook: '',
      message: '',
      webhook_list: {},
      embed_name: '',
      embed_json: '',
      embeds: {}
    }
  },
  methods: {
    addToAlly: async function (webhook) {
      var webhooka = await axios.get(webhook)
      var guild = await axios.get(`https://ptb.discordapp.com/api/guilds/${webhooka.data.guild_id}/widget.json`)
      var object = {
        'name': guild.data.name,
        'id': webhooka.data.id,
        'avatar': webhooka.data.avatar,
        'invite': guild.data.instant_invite,
        'webhook_link': webhook
      }
      this.webhook_list[Object.keys(this.webhook_list)[this.ally]].webhook[guild.data.name] = object
      console.log(this.webhook_list)
      storage.set('heart/ally.json', this.webhook_list, (err) => {
        if (err) {
          console.error(err)
        }
      })
    },
    removeFromAlly: function (name) {
      delete this.webhook_list[Object.keys(this.webhook_list)[this.ally]].webhook[name]
      storage.set('heart/ally.json', this.webhook_list, (err) => {
        if (err) {
          console.error(err)
        }
      })
    },
    messageToAlly: function (message) {
      for (var webhook in this.webhook_list[Object.keys(this.webhook_list)[this.ally]].webhook) {
        var emb = [{title: 'title', url: 'https://google.com'}]
        console.log(emb)
        axios.post(this.webhook_list[Object.keys(this.webhook_list)[this.ally]].webhook[webhook].webhook_link, {
          content: this.message,
          embeds: emb
        })
      }
    },
    openURL: function (url) {
      require('openurl').open(url)
    }
  },
  mounted () {
    storage.get(`heart/ally.json`, (err, data) => {
      if (err) {
        console.log(err)
      } else {
        this.webhook_list = data
      }
    })
  }
}
</script>
